html{
	height: 100%;
	margin: 0 auto -120px;
}

body{
	height: 100%;
	margin: 0 auto -120px;
}


.container { width: auto; }

@media(max-width:767px){
	.main{
		padding:15px;
	}
}

@media(min-width:768px){
	.main{
		padding:15px;
	}
}

@media(min-width:992px){}
@media(min-width:1200px){}

.sidebar{
	margin-top: 15px;
}

.sidebar li h5{
	color:#cccccc;
	font-size:14px;
}

.sidebar li a{
	color:#0086e8;
	font-size:15px;
}

.sidebar li a:hover{
	background-color:#0086e8;
	color:#fafafa;
}

.sidebar li a:hover i{
	color:#fafafa;
}

.main h2{
	font-size:36px;
	color:#666666;
}

.header{
	color: #ffffff;
	width: 100%;
	background-color: #0086e8;
	min-height: 190px;
	padding: 15px;
}

.header h1{
	font-size:48px;
	text-shadow: 1px 1px #666;
}

.header h4{
	font-size:24px;
	text-shadow: 1px 1px #666;
}

.header a:link {
  color: #7fdbff; }

.header a:visited {
  color: #7fdbff; }

.header a:hover {
  color: #7fdbff; }

.subheader{
	color:#888;
	width: 100%;
	background-color: #f4f4f4;
	border-top:1px solid #d3d3d3;
	border-bottom:1px solid #d3d3d3;
	min-height: 40px;
	padding-top: 9px;
	margin-bottom:20px;
}

.brand{
	height: 80px;
	width: 100%;
	padding-top: 15px;
}

i{
	color :#444;
	margin-right:5px;
}

h5{
	margin-left: 15px;
	color: #555;
}



.blanket{
	margin-top: 0px;
}

.main{
	margin-bottom: 60px;
}

.copy{
	font-size: 14pt;
}

.copy li{
	margin: 3px;
	margin-top: 8px;
}

.user{
	margin: 40px;
	margin-top: 10px;
}

.user h1{
	margin-top: 0px;
}

#wrap {
	min-height: 100%;
	/*margin: 0 auto -120px;*/
	padding: 0 0 60px;
}

.footer{
	max-height: 60px;
	padding: 20px;
	margin-top: 60px;
	color:#666666;
	border-top: 1px solid #d0d0d0;
}

.selectbox{
	margin-left: 14px;
	margin-top: 9px;
	margin-bottom: 4px;
}
